*{
      margin:0;
      padding:0;
      box-sizing:border-box;
      font-family:'Barlow', sans-serif;
    }

    body{
      background:#000;
      color:#fff;
      display:flex;
      min-height:100vh; /*Ele define a altura minima do objeto ou seja o objeto não pode diminiuir mais do que essa altura */
      overflow-y:auto;/*Serve para o scrool do mouse */
      overflow-x:hidden;
    }

    /* SIDEBAR */
.sidebar{
  width:260px;
  background:#050505;
  border-right:1px solid #1f1f1f;
  padding:30px 20px;     /* O 30 e o 20 logo ao lado é um atalho do padding o 30 define em cime e embaixo e o 20 direita e esquerda;*/

  display:flex;
  flex-direction:column;
  justify-content:space-between;

  position:fixed;  /* Aqui eu fixei o elemento ou seja se ao ir para baixo a parte lateral continua parada*/
  top:0;
  left:0;
  height:100vh;

  overflow-y:auto;

  scrollbar-width:none; /* Aqui eu tirei a espessura da barra*/
}

/* Para ter certeza que a barra vai sair da parte lateral, funciona principalmente no Chrome, Edge e Opera. Mas eu testei no Brave e tbm funcionou */
.sidebar::-webkit-scrollbar{
  display:none; 
}

    .logo{
      text-align:center;
    }

    .logo img{
      width:110px;
      margin-bottom:15px;
      filter: grayscale(100%); /* Aqui eu tirei a cor ou seja deixei em preto e branco*/
    }

    .logo h1{
      font-size:28px;
      font-weight:800;
      letter-spacing:2px; /* Espaço entre as letras*/
    }

    .logo p{
      color:#8b8b8b;
      font-size:14px;
      margin-top:5px; /* Da um espaço fora do elemnto */
    }

    .menu{
      margin-top:40px;
      display:flex;
      flex-direction:column;
      gap:15px;
    }

    .menu a{
      text-decoration:none;
      color:#d9d9d9;
      background:#0d0d0d;
      border:1px solid #1d1d1d;
      padding:16px 18px; /*Cria um espaço entre a borda e o conteúdo*/
      border-radius:14px; /* Arredonda os cantos da borda */
      transition:0.3s;
      font-size:18px;
      font-weight:600;
    }

    .menu a:hover{
      background:#fff;
      color:#000;
      transform:translateX(5px); /* Move o elemento para a direita. Importante o X faz da horizontalmente e verticalmente e o Y para cima e para baixo*/
    }

    .footer-sidebar{
      background:#0d0d0d;
      border:1px solid #1f1f1f;
      border-radius:18px;
      padding:20px;
      text-align:center;
    }

    .footer-sidebar h2{
      font-size:24px;
      font-weight:800;
      margin-bottom:10px;
    }

    .footer-sidebar p{
      color:#a5a5a5;
      font-size:14px;
    }

    /* MAIN */

.main{
  flex:1;
  margin-left:260px;

  position:relative;
  padding:40px;

  min-height:100vh;
}

    .banner{
      position:absolute;
      inset:0; /* junto com o absolute ele serve para o elemento ocupar toda a borda pai a borda pai é como se fosse a 'principal' ou seja vai ocupar a tela inteira ou a div*/
      background:
      linear-gradient(to right, rgba(0,0,0,0.96), rgba(0,0,0,0.75)),
      url('fundo.png');
      background-size:cover; /* O cover garante que a imagem vai ocupar qualquer espaço vazio */
      background-position:center;
      filter: grayscale(100%);
      z-index:-1; /* Deixa o conteudo atrás do conteúdo principal*/
    }

    .topbar{
      display:flex;
      justify-content:space-between; /* o space-between deixa o item um na esqueda e o ultimo na direita o resto fica no centro, caso seja em coluna ela vai passar o primeiro item para o topo e o último para o fundo e o resto fica no meio.*/
      align-items:center;
      margin-bottom:50px;
    }

    .user{
      background:#0f0f0f;
      border:1px solid #1f1f1f;
      padding:12px 20px;
      border-radius:14px;
      font-weight:600; /* Espessura da fonte */
    }

    .hero h1{
      font-size:72px;
      font-weight:900;
      line-height:70px;
      margin-bottom:20px;
    }

    .hero span{
      color:#bdbdbd;
    }

    .hero p{
      max-width:700px; /*Altura máxima ou seja não pode aumentar mais do que isso*/
      color:#b5b5b5;
      font-size:20px;
      margin-bottom:40px;
    }

    /* CARDS */

    .cards{
      display:grid; /*Transforma o elemento em linhas ou colunas*/
      grid-template-columns:repeat(auto-fit, minmax(280px,1fr));/* O grind-template-columns define as colunas do grid ai o repeat serve para repetir o padrão das colunas, o auto-fit encaixa o máximo de colunas possíveis enquanto houver espaço. O minmax define o tamanho mínimo da coluna 280px e o 1fr é o tamanho máximo/ fr é a fração do espaço disponível, assim o 1fr faz com que as colunas se dividam igualmente*/
      gap:25px;
    }

    .card{
      background:rgba(10,10,10,0.9);
      border:1px solid #222;
      border-radius:24px;
      padding:30px;
      transition:0.3s;
      backdrop-filter: blur(6px); /*aplica um  efeito atrás do elemento no caso eu escolhi o blur, porém ele está bem suave devido ao 0.9 que é 90% opaco quanto mais baixa essa porcentagem mais 'transparente' fica */
    }

    .card:hover{
      transform:translateY(-8px); /* Aqui como é eixo Y ele vai subir e descer negativo sobe e positivo desce.*/
      border-color:#fff;
    }

    .icon{
      font-size:60px;
      margin-bottom:20px;
    }

    .card h2{
      font-size:32px;
      margin-bottom:15px;
      font-weight:800;
    }

    .card p{
      color:#a7a7a7;
      margin-bottom:25px;
      line-height:1.5;
    }

    .card button{
      width:100%;
      padding:15px;
      border:none;
      border-radius:14px;
      background:#fff;
      color:#000;
      font-size:16px;
      font-weight:800;
      cursor:pointer;
      transition:0.3s;
    }

    .card button:hover{
      background:#cfcfcf;
    }

    /* ESTATISTICAS */

    .stats{
      margin-top:40px;
      background:rgba(8,8,8,0.95);
      border:1px solid #1f1f1f;
      border-radius:24px;
      padding:30px;
    }

    .stats h2{
      margin-bottom:25px;
      font-size:34px;
      font-weight:800;
    }

    .stats-grid{
      display:grid;
      grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
      gap:20px;
    }

    .stat-box{
      background:#0f0f0f;
      border:1px solid #202020;
      border-radius:18px;
      padding:25px;
    }

    .stat-box h3{
      color:#9f9f9f;
      margin-bottom:10px;
      font-size:16px;
    }

    .stat-box p{
      font-size:40px;
      font-weight:800;
    }

    /* RESPONSIVO */

    @media(max-width:900px){

      body{
        flex-direction:column;
        overflow:auto;
      }

      .sidebar{
        width:100%;
      }/*Caso o site fique muito grande para a tela a sidebar que é a parte lateral vai passar a ocupar 100% do espaço*/

      .main{
        padding:25px;
      }

      .hero h1{
        font-size:50px;
        line-height:50px;
      }

    }