body{
    margin: 0;
    font-family: 'Barlow', sans-serif;

    background: #0b0b0b;
    color: white;

    display: flex;
}

/* SIDEBAR */

.sidebar{
    width: 260px;
    height: 100vh;

    background: #111;

    padding: 30px;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: fixed;

    border-right: 1px solid #222;
}

.logo{
    text-align: center;
}

.logo img{
    width: 90px;
}

.logo h1{
    font-size: 28px;
    margin-bottom: 5px;
}

.logo p{
    color: #999;
    font-size: 14px;
}

.menu{
    margin-top: 40px;

    display: flex;
    flex-direction: column;

    gap: 15px;
}

.menu a{
    text-decoration: none;

    color: white;

    padding: 14px;

    border-radius: 12px;

    transition: 0.3s;
}

.menu a:hover{
    background: #1e1e1e;

    transform: translateX(5px);
}

.footer-sidebar{
    background: #151515;

    padding: 20px;

    border-radius: 18px;
}

.footer-sidebar h2{
    margin: 0;
}

/* MAIN */

.main{
    margin-left: 260px;

    width: calc(100% - 260px);

    padding: 40px;

    box-sizing: border-box;
}

/* TOPO */

.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 50px;
}

.hero h1{
    font-size: 52px;
    margin: 0;
    line-height: 55px;
}

.hero span{
    color: #c4c4c4;
}

.hero p{
    color: #999;

    width: 500px;

    margin-top: 15px;
}

.user{
    background: #151515;

    padding: 15px 25px;

    border-radius: 14px;

    font-weight: bold;
}

/* PODIUM */

.podium-container{
    display: flex;
    justify-content: center;
    align-items: end;

    gap: 25px;

    margin-bottom: 60px;
}

.podium-card{
    width: 220px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 20px 20px 0 0;

    box-shadow: 0 0 25px rgba(255,255,255,0.05);

    transition: 0.3s;
}

.podium-card:hover{
    transform: translateY(-8px);
}

.primeiro{
    height: 280px;

    background:
    linear-gradient(180deg,#ffffff,#6f6f6f);

    color: black;
}

.segundo{
    height: 220px;

    background: #1a1a1a;
}

.terceiro{
    height: 180px;

    background: #141414;
}

.podium-card h2{
    font-size: 50px;
    margin: 0;
}

.podium-card h3{
    margin: 10px 0 5px;
}

.podium-card p{
    margin: 0;
}

/* KPI */

.stats-grid{
    display: grid;

    grid-template-columns:
    repeat(auto-fit, minmax(250px,1fr));

    gap: 25px;

    margin-bottom: 50px;
}

.stat-card{
    background: #141414;

    padding: 30px;

    border-radius: 20px;

    border: 1px solid #202020;

    transition: 0.3s;
}

.stat-card:hover{
    transform: translateY(-5px);

    box-shadow: 0 0 20px rgba(255,255,255,0.08);
}

.destaque{
    background:
    linear-gradient(135deg,#1f1f1f,#101010);
}

.stat-card h3{
    margin-top: 0;

    color: #bdbdbd;
}

.stat-card p{
    font-size: 45px;

    margin-bottom: 0;

    font-weight: bold;
}

/* GRÁFICO */


.graph{
    background: #141414;

    padding: 40px;

    border-radius: 28px;

    margin-bottom: 50px;

    border: 1px solid #202020;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}

/* TÍTULO */

.graph-header{
    width: 100%;

    text-align: center;

    margin-bottom: 30px;
}

.graph-header h2{
    margin: 0;

    font-size: 36px;
}

/* CANVAS */

#myChart{
    max-width: 500px !important;
    max-height: 500px !important;

    width: 100% !important;
    height: 100% !important;

    margin: 0 auto;
}
/* RANKING */

.ranking{
    margin-bottom: 50px;
}

.ranking-header{
    margin-bottom: 25px;
}

.ranking-grid{
    display: grid;

    grid-template-columns:
    repeat(auto-fit, minmax(260px,1fr));

    gap: 20px;
}

.ranking-card{
    background: #141414;

    padding: 20px;

    border-radius: 18px;

    display: flex;
    align-items: center;

    gap: 20px;

    border: 1px solid #202020;

    transition: 0.3s;
}

.ranking-card:hover{
    transform: scale(1.02);

    box-shadow: 0 0 15px rgba(255,255,255,0.06);
}

.ranking-posicao{
    width: 60px;
    height: 60px;

    border-radius: 50%;

    background: white;
    color: black;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    font-size: 20px;
}

.ranking-info h3{
    margin: 0;
}

.ranking-info p{
    margin-top: 5px;

    color: #aaa;
}
.hrp{
      display: flex;
    align-items: center;
    justify-content: center;
}